{% extends "base.html" %}

{% block content %}
  <p>Sorry but you do not have permission to view the administration pages.</p>
  <p>If you think you should have access to these pages, please email <a href="mailto:timetables-help@lib.cam.ac.uk">timetables-help@lib.cam.ac.uk</a></p>
{% endblock content %}
