{% extends "administrator/timetableList/fragSeriesRead.html" %}

{% block series_title_right %}
<p class="buttons js-series-buttons">
  <a href="#" class="icon-pencil js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
  <a href="#" class="icon-plus-sign notImplemented" title="attach"><span class="hideMe">attach</span></a>
  <a href="#" class="icon-file notImplemented" title="duplicate"><span class="hideMe">duplicate</span></a>
  <a href="#" class="icon-trash notImplemented" title="remove"><span class="hideMe">remove</span></a>
</p>
{% endblock series_title_right %}
