<tr class="event js-event {{ event_classes }}" data-id="{{ event.id }}">
  <td title="Title" class="event-field eventTitle">
    <div class="js-field js-field-title event-input" contenteditable="{{ editable }}" data-value="{{ event.title }}" tabindex="0">{{ event.title|default:"" }}</div>
  </td>
  <td title="Event Type" class="event-field eventType event-type-input-wrap js-event-type-input-wrap" data-value="{{ event.type }}" tabindex="0">
    {% block event_type %}
    <div>
      <span class="event-type js-field js-field-type event-type-{{ event.metadata.type|default:"none"|lower }}">
        {{ event.metadata.type|default:"" }}
      </span>
    </div>
    {% endblock event_type %}
  </td>
  <td class="event-field js-date-time-cell eventDateTime" tabindex="0">
    <div class="event-input js-date-time-input-wrap">
      {% block date_time_start %}
      {% endblock date_time_start %}
      <span title="{{ event.start|date:"l jS F " }}">
        {% spaceless %}
        {% with rel_date=event.relative_term_date %}
        <span>W </span>
        <span data-value="{{ rel_date.2 }}" class="js-field-week">{{ rel_date.2 }}</span>
        <span> in </span>
        <span data-value="{{ rel_date.1|capfirst }}" class="js-field-term">{{ rel_date.1|capfirst }}</span>
        <span>, on </span>
        <span data-value="{{ rel_date.3 }}" class="js-field-day">{{ rel_date.3|capfirst }}</span>
        <span>&nbsp;</span>
        {% endwith %}
      </span>
      <span class="js-field-start-hour">{{ event.start_local.hour|stringformat:".2d" }}</span>
      <span>:</span>
      <span class="js-field-start-minute">{{ event.start_local.minute|stringformat:".2d" }}</span>
      <span>&ndash;</span>
      <span class="js-field-end-hour">{{ event.end_local.hour|stringformat:".2d" }}</span>
      <span>:</span>
      <span class="js-field-end-minute">{{ event.end_local.minute|stringformat:".2d" }}</span>
      {% endspaceless %}
      {% block date_time_end %}
      {% endblock date_time_end %}
    </div>
  </td>
  <td title="Location" class="event-field eventLocation">
    <div class="js-field js-field-location event-input" tabindex="0" data-value="{{ event.location }}" contenteditable="{{ editable }}">{{ event.location|default:"" }}</div>
  </td>
  <td title="Lecturer/host/etc" class="event-field eventLecturers">
    <div class="js-field js-field-people event-input" tabindex="0" data-value="{{ event.metadata.people|join:", " }}" contenteditable="{{ editable }}">{{ event.metadata.people|join:", "|default:"" }}</div>
  </td>
  {% block event_right %}
  {% endblock event_right %}
</tr>
