{% load url from future %}

<div class="module js-module" data-id="{{ module.unique_id }}">
  <div class="js-module-title module-title clearfix">
    <h4 class="pull-left" >
      {# This initially was an anchor but that gave issues when trying to edit the title in FF and IE #}
      <div class="js-collapse collapsed" data-toggle="collapse" data-target="#module-{{ module.unique_id }}-content">
        <span class="chevron icon-chevron-right js-expansion-indicator"></span>
        <span class="title js-value" data-save-path="{% url "thing edit" module.fullpath %}">{{ module.name }}</span>
        <span class="js-error-message error-message dontDisplayMe"></span>
      </div>
    </h4>
    {% block module_title_right %}
    {% endblock module_title_right %}
  </div>
  <div class="moduleContent module-content js-module-content collapse" id="module-{{ module.unique_id }}-content">
    {% block before_series %}
    {% endblock before_series %}
    <div class="seriesList js-series-list">
      {% for series in module.series %}
        {% block series %}
        {% include "administrator/timetableList/fragSeriesRead.html" %}
        {% endblock series %}
      {% empty %}
        <p class="js-no-series no-series">This module contains no series.</p>
      {% endfor %}
    </div>
  </div>
</div>
