{% extends "administrator/timetableBase.html" %}
{% load url from future %}


{% block javascript_module %}timetable-list-read{% endblock javascript_module %}

{% block timetable_el_id %}adminListView{% endblock %}

{% block timetable_tab_nav %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="javascript:;">List</a>
  </li>
  <li>
    <a href="{% url "thing calendar" thing %}">Calendar</a>
  </li>
  <li class="nav-label"
    {% if can_edit %}
      title="You have permission to edit, but you're on the view only page."
    {% else %}
      title="You have permission to view, but not edit the items in this page."
    {% endif %}
  >
    <span class="icon-lock"></span>
    <em>View only</em>
  </li>
</ul>
{% endblock timetable_tab_nav %}


{% block timetable_content %}
<div class="modulesList js-module-list"
    data-lock-refresh-path={% url "admin refresh lock" thing %}>
  
  {# Include top-level series #}
  <div id="top-level-series" class="js-module" data-id="{{ thing.pk }}">
    <h4 title="These series are not part of any module.">
      General teaching
    </h4>
    <div class="moduleContent module-content">
      {% block before_general_series %}
      {% endblock before_general_series %}
      <div class="seriesList js-series-list">
        {% for series in top_level_series %}
          {% block top_level_series__series %}
          {% include "administrator/timetableList/fragSeriesRead.html" %}
          {% endblock top_level_series__series %}
        {% empty %}
          <p class="js-no-series no-series">There are no general teaching series.</p>
        {% endfor %}
      </div>
    </div>
  </div>

  {% block before_modules_content %}
  {% endblock before_modules_content %}
  
  <div id="modules" class="js-individual-modules">
    {% for module in modules %}
      {% block timetable_module %}
      {% include "administrator/timetableList/fragModuleRead.html" %}
      {% endblock timetable_module %}
    {% endfor %}
  </div>

  {% block after_modules_content %}
  {% endblock after_modules_content %}
</div>

<div id="templates">

<div class="modal changesNotificationPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close dontSendNotification">&times;</a>
    <h3>Send email notification</h3>
  </div>
  <div class="modal-body">
    <p>Your changes have been saved successfully.</p>
    <p>Do you want to send an email notification to people affected by the change?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="dontSendNotification">Don't send notification</a>
    <a href="#" class="btn btn-primary sendNotifcation notImplemented">Send notification</a>
  </div>
</div>

<div class="modal formServerErrorPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Oops, something went wrong</h3>
  </div>
  <div class="modal-body">
    <p>Apparently something went wrong whilst saving.</br>Please try again later.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal formValidationErrorPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Oops, something went wrong</h3>
  </div>
  <div class="modal-body">
    <p>It looks like you missed some fields.<br/>Please fill out any missing fields and hit save again</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>

{# Dialog used to show saving progress, errors and success msg. #}
<div class="js-events-save-dialog modal hide fade">
  <div class="modal-header">
    <h3>Save events</h3>
  </div>
  <div class="js-body js-body-saving">
    <div class="modal-body">
      <h5>Saving events...</h5>
      <div class="loading-indicator-content">
        <div class="progress progress-striped active">
          <div class="bar" style="width: 40%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-body js-body-error" style="display: none;">
    <div class="modal-body">
      <h5 class="">Sorry, Timetables wasn't able to save your changes</h5>
      <p>Here are some suggestions:</p>
      <ul class="yes-this-is-really-a-list">
        <li>Close this dialog and try saving again.</li>
        <li>Check that your internet connection is working.</li>
        <li>If this persists, Timetables probably has a bug. You can contact <a href="mailto:timetables-support@caret.cam.ac.uk">timetables-support@caret.cam.ac.uk</a> for assistance.</li>
      </ul>
    </div>
    <div class="modal-footer js-buttons-bar">
      <a href="#" class="btn btn-danger">Close</a>
    </div>
  </div>
  <div class="js-body js-body-success" style="display: none;">
    <div class="modal-body">
      <h5 class="text-success">Your changes have been saved.</h5>
    </div>
    <div class="modal-footer js-buttons-bar">
      <a href="#" class="btn btn-success">Okay</a>
    </div>
  </div>
</div>

{# Shows a progress bar when loading, or an error msg when failed #}
<div class="js-loading-indicator-prototype js-loading-indicator loading-indicator" style="display: none;">
  <div class="loading" style="display: none;">

    <strong>Loading events...</strong>
    <div class="loading-indicator-content">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 40%;"></div>
      </div>
    </div>
    
  </div>
  <div class="error">
    <strong>Events could not be loaded</strong>
    <div class="loading-indicator-content">
      <button class="js-retry-btn btn">
        Try again
      </button>
    </div>
  </div>
</div>

{% block additional_modals %}
{% endblock additional_modals %}

</div><!-- #templates end -->
{% endblock timetable_content %}
