.typeahead {
  width: 50px;
  min-width: 20px;
  max-height: 125px;
  overflow-x: hidden;
  overflow-y: auto;
}

.typeahead:focus {
  outline: none;
}

.typeahead li {
  width: 50px;
}

.typeahead li a {
  padding: 3px;
  padding-left: 10px;
}

.accordion-toggle span {
  margin-right: 10px;
}

body ul {
  list-style-type: none;
  margin-left: 0;
}

ul.yes-this-is-really-a-list {
  list-style-type: disc;
  margin: 0 0 10px 25px;
}

.buttons a {
  opacity: .6;
}

.buttons a:hover {
  opacity: 1;
}

a.addModule {
  margin-top: 10px;
}

a.addModule:last-child {
  margin-bottom: 30px;
}

.btn.addModule .icon-plus {
  margin-right: 7px;
}

a.addModule:last-child {
  margin-top: 30px;
}

/* Timetable page navigation */
.nav-label {
  margin: 8px;
}


#inputArea div {
  margin: 0;
}

#inputArea h3 {
  font-size: 1.4em;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1em;
  padding-top: 4px;
  color: #f5f5f5;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
}

#inputArea h3 span {
  padding-top: 5px;
}

#admin #inputArea select {
  width: 114px;
}

#adminListActions {
  min-height: 40px;
}

#adminListActions .icon-chevron-left {
  margin-right: 4px;
}

#adminListActions ul li {
  margin-left: 15px;
}

.modulesList .module a.addSeries {
  margin-bottom: 9px;
}

.btn span.icon-plus {
  margin-right: 10px;
}

.addEvent span.icon-plus {
  margin-right: 7px;
}

.hasChanges .addEvent {
  opacity: .4;
  transition: opacity .2s;
}

.hasChanges .addEvent:hover {
  opacity: 1;
}

.addEvent {
  margin: 10px 0 30px 8px;
}

.buttons > a {
  margin-right: 3px;
}

.loading-indicator {
  width: 30%;
  margin: 40px auto;
}

.loading-indicator-content {
  min-height: 40px;
}

.events table {
  margin-bottom: 5px;
}

.seriesList {
  margin-bottom: 30px;
}

.series form {
  margin: 0;
}

/*
 * List page date time dialog
 */

.date-time-form-row {
  margin-bottom: 15px;
}
.date-time-form-row .first-label {
  min-width: 40px;
  text-align: right;
}

/*
 * List page modules
 */

.module-content.shown {
  overflow: visible;
}

.module-content > *:first-child {
  margin-top: 15px;
}

/*
 * List page events
 */

/* The element which a dialog is a child of. */
.dialog-holder {
  position: relative;
}

.dialog-holder .input-mini {
  width: 35px;
}

.dialog-holder span label {
  padding-right: 10px;
  padding-left: 6px;
}

.dialog-holder span label.first-label {
  padding-left: 0;
}

/* A modal dialog element. */
.dialog {
  z-index: 950;
  position: absolute;
}

/* An element which covers the entire window behind a dialog. */
.dialog-backdrop {
  z-index: 900;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.event select.event-type {
  display: none;
}

select.event-type {
  width: 100px;
}

.event.event-editable.row-being-edited .event-type-input-wrap span.event-type,
.event.event-editable .event-type-input-wrap.being-edited span.event-type,
.event.event-editable.event-cancelled .event-type-input-wrap span.event-type {
  display: none;
}

.event.event-editable.row-being-edited .event-type-input-wrap select.event-type,
.event.event-editable .event-type-input-wrap.being-edited select.event-type,
.event.event-editable.event-cancelled .event-type-input-wrap select.event-type {
  display: block;
}

/* Event fields need a pencil icon when hovering over them */
.event-editable .event-field {
  padding-right: 20px; /* To accommodate the pencil icon */
}

.event-editable .event-field .event-input {
  padding: 2px 3px;
  border: 1px solid transparent;
  min-height: 1.4em;
}

.event-editable.row-being-edited .event-field .event-input,
.event-editable .event-field .event-input.being-edited {
  background-color: #fffdf7;
  border-style: dashed;
  border-color: #a7a7a7;
  cursor: auto;
}

.event-editable.row-being-edited.event-cancelled .event-field .event-input,
.event-editable.event-cancelled .event-field .event-input.being-edited {
  background-color: transparent;
  border-style: none;
}

.event-editable .event-field:hover {
  background-image: url("../img/pencil.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

#adminListView .nav-tabs,
#timetable-view .nav-tabs {
  font-size: 1.2em;
  font-weight: bold;
}

#adminListView .nav-tabs .nav-label {
  font-size: .9em;
  padding-top: 4px;
}

#adminListView .nav-tabs .nav-label em {
  padding-left: 5px;
}

#adminListView .nav-tabs > li > a,
#timetable-view .nav-tabs > li > a {
  padding: 11px 23px;
}

#adminListView .nav-tabs {
  margin-bottom: 40px;
}

#adminListView .event.highlighted > td {
  background-color: #D3FFD5;
}

#adminListView .event.event-editable.event-new td {
  background-color: #d6f3d6;
}

.event.event-cancelled .buttons a {
  opacity: .2;
}

.event.event-cancelled .buttons a.remove {
  opacity: .6;
}
 
.event.event-cancelled .event-field {
  text-decoration: line-through;
  background-image: none;
}

.event.event-cancelled .event-field.eventType {
  text-decoration: none;
}

.event.event-cancelled .event-field.eventType select {
  opacity: .4;
}

/* id selector used to boost priority over Bootstrap */
#adminListView .event-editable.unsaved > td,
#adminListView .event-editable:hover > td {
  background-color: #fff6e2;
}

#adminListView .event-editable {
  cursor: pointer;
}

#adminListView .event-editable.being-edited > td {
  background-color: #f5e7d0;
}

#adminListView .event-editable.being-edited {
  cursor: auto;
}

.dialog-date-time {
  background: white;
}

.dialog-backdrop-date-time {
  opacity: .4;
}

.dialog-date-time .dialog-actions .close-btn {
  padding-top: 10px;
  padding-right: 8px;
}

.events.shown {
  overflow: visible;
}

.series-title.collapsed .buttons {
  visibility: hidden;
}

.series-title.collapsed:hover .buttons {
  visibility: visible;
}

#modules {
  clear: both;
}

.module:first-child .module-title {
  padding-top: 0;
}

.module-title h4, .series-title h5 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.module-title {
  border-bottom: 1px solid #b3b3b3;
  padding: 10px 0;
}

.module-title h4 {
  font-size: 1.1em;
}

.module-title a {
  color: #292929;
}

.module-title .chevron {
  float: left;
  margin-top: 6px;
  margin-right: 7px;
  opacity: .8;
}

.module-title .title {
  margin-right: 10px;
}

.module-title .buttons {
  visibility: hidden;
}

.module-title:hover .buttons {
  visibility: visible;
}

.module-title.hasOpenSeries .buttons {
  visibility: visible;
}

.seriesList,
.moduleContent > a.btn {
  margin-left: 20px;
}

#top-level-series .addSeries {
  margin-top: 7px;
  margin-bottom: 6px;
}

.module > a.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.series-title {
  padding: 10px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, .2);
}

.series-title h5 .title {
  margin-right: 8px;
}

.series-title .chevron {
  float: left;
  margin: 5px 8px 0 0;
  opacity: .8;
}

.series-title > h5 a input {
  display: none;
}

.module-title .buttons,
.series-title .buttons {
  display: inline;
  padding-left: 5px;
}

.series-title .buttons a {
  margin-top: 5px;
}

.module-title .buttons a {
  margin-top: 5px;
}

.seriesEditActions {
  padding-top: 10px;
  padding-right: 30px;
}

.seriesEditActions .cancel {
  margin-right: 16px;
  margin-top: 4px;
  display: block;
}

.series-title h5 .title {
  color: #08C;
  cursor: pointer;
  border: 1px solid transparent;
}

.module-title h4 .title {
  cursor: pointer;
  border: 1px solid transparent;
}

.series-title h5:hover .title,
.module-title h4:hover .title {
  text-decoration: underline;
}

.series-title h5:hover .title.editable,
.module-title h4:hover .title.editable {
  text-decoration: none;
}

.series-title .title.editable,
.module-title .title.editable {
  outline: none;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  cursor: inherit;
  color: #000;
}

.series-title .title.saving,
.module-title .title.saving {
  opacity: .4;
}

.series-title .title:focus,
.module-title .title:focus {
  outline: none;
}

.series-title .title,
.module-title .title {
  float: left;
  min-height: 1em;
  padding: 5px;
}

.series-title .title.editable,
.module-title .title.editable {
  background-color: #FFF6E2;
}

.series-title .error-message,
.module-title .error-message {
  color: red;
  float: left;
  margin: 6px 10px 0 0;
}


/*
 *
 * UI jumping quick fixes
 *
 */
.event .eventActions ul li {
  display: inline;
}

.eventActions .buttons {
  margin: 0;
}

.event .eventActions ul {
  min-width: 70px;
  margin: 0;
}

.event-type {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 24px;
}

select.event-type {
  padding-left: 0;
}

.event-type-lecture {
  background-image: url(../img/typeLectureIcon.png);
}

.event-type-seminar {
  background-image: url(../img/typeSeminarIcon.png);
}

.event-type-practical {
  background-image: url(../img/typePracticalIcon.png);
}

.event-type-laboratory {
  background-image: url(../img/typeLaboratoryIcon.png);
}

.event-type-language {
  background-image: url(../img/typeLanguageClassIcon.png);
}

.datePatternDialog {
  left: -50%;
  min-width: 420px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px 0px;
}

.datePatternDialog h3 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 2px;
}

.datePatternDialog h3 a {
  margin: 0;
  padding: 0;
}

.datePatternDialog select {
  width: 150px;
}

.datePatternDialog .popover-content {
  padding: 20px;
}

.datePatternDialog .popover-title h3 {
  line-height: 1em;
}

.datePatternDialog .popover-title .close {
  margin-top: 8px;
}

/*
 * Calendar Styles
 */

#calendarHeading {
  margin-bottom: 15px;
}

#calendarHeading .calendarNavigation {
  margin-left: 230px;
}

#calendarHeading .calendarNavigation:last-child {
  margin: 0;
}

#calendarHeading .calendarNavigation.week-calendar-navigation {
  margin-left: 367px;
}

.calendarEventInfo .actions {
  margin-top: 18px;
}

.calendarEventInfo .actions a {
  margin-top: 5px;
  display: block;
}

.calendarEventInfo .actions a.btn {
  margin: 0;
}

.being-edited-alert {
  position: static;
  box-shadow: none;
  margin-bottom: 30px;
}

.being-edited-alert a {
  color: #B94A48;
}
