{% extends "administrator/base.html" %}
{% load url from future %}

{% block top_title %}
<span class="pull-left">Timetables in </span>
<select id="iAmInput" class="pull-left js-select-faculty">
  {% for fullname, fullpath in triposes %}
    <option value="{{ fullpath }}"{% if thing.fullpath == fullpath %} selected="selected"{% endif %}>{{ fullname }}</option>
  {% endfor %}
</select> 
{% endblock top_title %}


{% block top_title_right %}
<select class="pull-right notImplemented">
  <option value="12">2012 / 2013</option>
  <option value="12">2013 / 2014</option>
  <option value="12">2014 / 2015</option>
  <option value="12">2015 / 2016</option>
</select>
{% endblock top_title_right %}


{% block admin_content %}
<div id="timetablesOverview">
  <ul class="clearfix">
    <!--
    <li class="pull-left createNewTimetable notImplemented">
      <div class="timetableTop"></div>
      <div class="timetableBottom">
        <a href="#">
          Create new
        </a>
      </div>
    </li>
    -->
  {% for timetable in timetables %}

    <li class="js-timetable pull-left{% if timetable.id in editable %} js-timetable-editable editable{% endif %}" data-fullpath="{{ timetable }}">
      <a href="{% url "admin list write" thing=timetable.fullpath %}">
        <div class="timetable-top">
          <p class="edit-message js-edit-message dontDisplayMe">
            Being edited by <strong class="js-editor"></strong>
          </p>
        </div>

        <div class="timetable-center">
          <h4>
            {% comment %}
            For part-only timetables we use the name of the faculty followed by the
            part. For real subjects we use the subject followed by part. #}
            {% endcomment %}
            {% if timetable.type == "part" %}
              {{ thing.fullname }} {{ timetable.fullname }}
            {% else %}
              {{ timetable.fullname }} {{ timetable.parent.fullname }}
            {% endif %}
          </h4>
        </div>

        <div class="timetable-bottom">
          
          {% if timetable.id in editable %}
            <span class="icon-pencil icon-white"></span>
            edit
          {% else %}
            <span class="icon-lock icon-white"></span>
            view only
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock admin_content %}
